/*

RED: #f23c50
WHITE: #e9f1df
LIGHTBLUE: #4ad9d9
BLUE: #36b1bf
YELLOW: #ffcb05

(DARK) RED: #eb6896
(DARK) DARKRED: #c66894
(DARK) BLUERED: #836890
(DARK) LIGHTBLUE: #46698d
(DARK) BLUE: #0f6a8b
 */

/* Text */
.small-spaceing {
    letter-spacing: -0.75px;
}

/* Layout */
.groups-highlighter:hover {
    color: #f23c50;
}

.task-highlighter:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.custom-h-100 {
    max-height: 90vh;
}

/* Button colors */
.hazizz-dbtn-red {
    color: #000;
    background-color: #eb6896;
    border-color: #eb6896;
}

.hazizz-dbtn-darkred {
    color: #000;
    background-color: #c66894;
    border-color: #c66894;
}

.hazizz-dbtn-bluered {
    color: #fff;
    background-color: #836890;
    border-color: #836890;
}

.hazizz-dbtn-lightblue {
    color: #fff;
    background-color: #46698d;
    border-color: #46698d;
}

.hazizz-dbtn-blue {
    color: #fff;
    background-color: #0f6a8b;
    border-color: #0f6a8b;
}

.hazizz-btn-red {
    color: #fff;
    background-color: #f23c50;
    border-color: #f23c50;
}

.hazizz-btn-white {
    color: #000;
    background-color: #e9f1df;
    border-color: #e9f1df;
}

.hazizz-btn-lightblue {
    color: #000;
    background-color: #4ad9d9;
    border-color: #4ad9d9;
}

.hazizz-btn-lightblue.active {
    color: #000;
    background-color: rgba(74, 217, 217, 0.3);
    border-color: rgba(74, 217, 217, 0.3);
}

.hazizz-btn-blue {
    color: #000;
    background-color: #36b1bf;
    border-color: #36b1bf;
}

.hazizz-btn-yellow {
    color: #000;
    background-color: #ffcb05;
    border-color: #ffcb05;
}

/* Backgrounds */
.hazizz-dbg-red {
    background-color: #eb6896;
}

.hazizz-dbg-darkred {
    background-color: #c66894;
}

.hazizz-dbg-bluered {
    background-color: #836890;
}

.hazizz-dbg-lightblue {
    background-color: #46698d;
}

.hazizz-dbg-blue {
    color: #fff;
    background-color: #0f6a8b;
}

.hazizz-bg-red {
    background-color: #f23c50;
}

.hazizz-bg-white {
    background-color: #e9f1df;
}

.hazizz-bg-lightblue {
    background-color: #4ad9d9;
}

.hazizz-bg-blue {
    background-color: #36b1bf;
}

.hazizz-bg-yellow {
    background-color: #ffcb05;
}

/* Borders */
.hazizz-border-red{
    border-color: #f23c50 !important;
}

@media (min-width: 992px) {
    .border-lg-0{
        border: 0 !important;
    }
}

/* Signin */
.signig-logo {
    max-width: 100px;
}

/* Fonts */
.title-font-family {
    font-family: "Architects Daughter";
}

.description-font-family {
    font-family: "Bentham";
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('../assets/ArchitectsDaughter.ttf') format('truetype');
}

@font-face {
    font-family: 'Bentham';
    src: url('../assets/Bentham.otf') format('opentype');
}