html, body {
    height: 100%;
}

.wrapper {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.formSignIn {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.formLabelGroup {
    position: relative;
    margin-bottom: 1rem;
}

.formLabelGroup > input,
.formLabelGroup > label {
    height: 3.125rem;
    padding: .75rem;
}

.formLabelGroup > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.formLabelGroup input::-webkit-input-placeholder {
    color: transparent;
}

.formLabelGroup input:-ms-input-placeholder {
    color: transparent;
}

.formLabelGroup input::-ms-input-placeholder {
    color: transparent;
}

.formLabelGroup input::-moz-placeholder {
    color: transparent;
}

.formLabelGroup input::placeholder {
    color: transparent;
}

.formLabelGroup input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.formLabelGroup input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .formLabelGroup > label {
        display: none;
    }

    .formLabelGroup input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .formLabelGroup > label {
        display: none;
    }

    .formLabelGroup input:-ms-input-placeholder {
        color: #777;
    }
}

.logo {
    height: auto;
    width: 70%;
}

.text {
    font-family: "Architects Daughter", cursive;
}