body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9F1DF;
}

.btn-transparent{
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.btn-hazizz-blue{
  color: #000;
  background-color: #4AD9D9;
  border-color: #4AD9D9;
}